<h1 class="text-center">Registration</h1>
<div class="container">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 text-center">
        <form name="registrationForm" method="POST">
            <div class="col-xs-12 form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" ng-model="registrationForm.e_mail" placeholder="Email" value=" "required/>
            </div>
            <div class="col-xs-12 form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" ng-model="registrationForm.password" placeholder="Password" required/>
            </div>
            <div class="col-xs-12 form-group">
                <label for="passwordCheck">Password checker</label>
                <input type="password" class="form-control" id="passwordCheck" ng-model="registrationForm.passwordCheck" placeholder="Password verification" required/>
            </div>
            <button type="submit" class="btn btn-default" ng-click="register(registrationForm)">Submit</button>
        </form>
    </div>
    {{user}}
</div>
{{response}}
